* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --corFundo: #faebd7;
    --cor1: #fff;
    --cor2: aliceblue;
    --cor3: cadetblue;
    --texto: #000;
    --textoBotão: #fff;
    --sombra: 0 0 10px 1px #00000015;
}

.modo-escuro {
    --corFundo: #1C0C5B;
    --cor1: #C996CC;
    --cor2: #916BBF;
    --cor3: #3D2C8D;
    --texto: #1C0C5B;
    --textoBotão: #C996CC;
    --sombra: 0 0 5px 0px var(--cor1);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    background-color: var(--corFundo);
}

body > * {
    display: none;
    animation: conteúdoAparecer 350ms linear;
}

    @keyframes conteúdoAparecer {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

main {
    max-width: 1000px;
    background-color: var(--cor1);
    padding: 5vh 5vw;
    border-radius: 20px;
    box-shadow: var(--sombra);
}

h1, h2, p {
    color: var(--texto);
}

section.hora {
    text-align: right;
}

section.hora h1 {
    font-size: 2em;
}

p#hora {
    font-size: 4em;
    font-weight: bold;
}

section.info {
    background-color: var(--cor2);
    width: calc(100%);
    padding: 2.5vh 5vw;
    position: relative;
    left: -5vw;
    bottom: -5vh;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

/*POPUPS DE APRESENTAÇÃO*/
#popup {
    background-color: var(--cor1);
    padding: 5vh 5vw;
    border-radius: 20px;
    width: 50vw;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
    text-align: justify;
    box-shadow: var(--sombra);
    animation: popupAparecer 350ms linear;
}

#popup p {
    margin: 2.5vh auto 0px auto;
}

#popup p:first-child {
    margin: 0px auto 0px auto;
}

    @keyframes popupAparecer {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes popupSumir {
        0% {transform: scale(1); opacity: 1;}
        100% {transform: scale(0.9); opacity: 0;}
    }

#popup button, #seletorModoCor {
    margin: 2.5vh auto 0px auto;
    padding: 2vh 5vw;
    border: none;
    border-radius: 20px;
    background-color: var(--cor3);
    color: var(--textoBotão);
    font-weight: bold;
    transition-duration: 250ms;
    cursor: pointer;
    display: block;
}

#popup button:active, #seletorModoCor:active {
    transform: scale(0.9);
}

#seletorModoCor {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 425px) {
    section.hora h1 {
    font-size: 1.5em;
    }

    p#hora {
        font-size: 3em;
    }
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --corFundo: #1C0C5B;
        --cor1: #C996CC;
        --cor2: #916BBF;
        --cor3: #3D2C8D;
        --texto: #1C0C5B;
        --textoBotão: #C996CC;
        --sombra: 0 0 5px 0px var(--cor1);
    }
}
*/